<!DOCTYPE html>
<html>
  <head>
    {%- auth0:head -%}
    <link rel="shortcut icon" href="https://www.effectivealtruism.org/favicon-16x16.png">
    {% if application.name contains "Giving" %}
    <style>
      /* GWWC COLORS */
      :root {
        --page-background-color: white;
        --primary-color:  #ab2b24;
        --action-primary-color: #ab2b24;
      }
      /* setting above variables should be enough, but somehow auth0 also decides to add a second css line with the colors hardcoded, so we need to mark these vars as important */
      body {
        background: var(--page-background-color) !important;
      }
      /* Sign up button and accept access buttons */
      button[value="default"], button[value="accept"] {
        background-color: var(--primary-color) !important;
      }
      /* GWWC LOGO: hide img + abuse h1 to show GWWC logo */
      #prompt-logo-center {
        display: none;
      }
      h1 {
        text-indent: -9999999px;
        font-size: 0px !important;
      }
      h1:after {
        content: "";
        display: block;
        width: 120px;
        height: 120px;
        margin: var(--logo-alignment);
        background-image: url(https://images.ctfassets.net/dhpcfh1bs3p6/38hxh2plUIgaIIkE08CE2M/539859238d68f6b06373763c7633c836/GWWC-Color__1_.png?h=250);
        background-size: contain;
      }
    </style>
    {% endif %}
    <style>
      .ea-layout {
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      @media (min-width: 480px) {
        .ea-layout {
          width: 100%;
        }
      }
      @media (min-width: 1070px) {
        .ea-layout {
          padding: 80px 0;
        }
        .ea-layout-contact {
          flex-direction: column;
          align-items: center;
        }
      }
      .widget-wrapper {
        width: 100%;
      }
      @media (min-width: 480px) {
        .widget-wrapper {
          width: 400px;
        }
      }
      @media (max-width: 480px) {
        ._prompt-box-outer {
          width: 100vw;
        }
      }
      .secondary-box {
        width: 100%;
        background-color: #dae0e2;
        padding: 10px 16px;
        border-radius: 0;
        text-align: center;
        position: relative;
        z-index: 5;
      }
      .contact-us {
        margin-bottom: 0;
      }
      @media (min-width: 480px) {
        .secondary-box {
          margin-top: 20px;
          width: 400px;
          border-radius: 5px;
        }
        .contact-us {
          margin-bottom: 20px;
        }
      }
    </style>
  </head>
  <body>
    <div class="ea-layout ea-layout-contact">
      <div class="widget-wrapper">
        {%- auth0:widget -%}
      </div>
      <div class="secondary-box">
        By creating an <a href="https://effectivealtruism.org" target="_blank" rel="noreferrer">EffectiveAltruism.org</a> account,
        you agree to the <a href="https://effectivealtruism.org/terms-and-conditions" target="_blank" rel="noreferrer">Terms of Use</a> and <a href="https://ev.org/ops/about/privacy-policy" target="_blank" rel="noreferrer">Privacy Policy</a>.
      </div>
      <div class="secondary-box contact-us">
        Having issues? <strong><a href="https://centreforeffectivealtruism.org/contact">Get in touch</a></strong>.
      </div>
    </div>
  </body>
</html>
